body {
  backgroud-color: gray;
}

nav {
  color: white;
  text-align: left;
  padding: 5px;
}

.navbar-brand {
  font-family: 'Grape Nuts', cursive;
  text-transform: uppercase;
}

ul {
  list-style: none;
  text-align: left;
}

li {
  padding: 5px;
}

section {
  padding: 10px;
}

h2 {
  color: black;
  text-align: center;
  font-family: 'Grape Nuts', cursive;
  text-transform: uppercase;
}

img {
  padding: 20px;
  vertical-align: middle;
  horizontal-align: middle;
}

#about {
  vertical-align:middle;
}

.card {
  max-width: 25%;
  display: inline-flex;
}

.card:hover {
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  font-size: 40px;
}

.card h5 {
  z-index:1;
  color: white;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card:hover h5 {
  color: white;
}

footer {
  color: black;
  text-align: center;
}
