body {
  backgroud-color: gray;
}

nav {
  color: white;
  text-align: left;
  padding: 5px;
}

ul {
  list-style: none;
  text-align: left;
}

li {
  padding: 5px;
}

.row {
  padding: 10px;
}

h2 {
  color: black;
  text-align: center;
}

img {
  padding: 20px;
}

footer {
  color: black;
  text-align: center;
}
